<div class="odeljenja">
<h3>Pregled odeljenja i predmeta</h3>
<p>Klikom na odeljenje se prikazuje predmet koji odabrani nastavnik predaje u izabranom odeljenju.</p>

<ul class="odeljenja">
  <li *ngFor="let odeljenje of odeljenja"
  [class.selected]="odeljenje === selectedOdeljenje"
  (click)="onSelect(odeljenje)" (click)="getPredmeteByOdeljenjeAndNastavnik()">
  <span class="badge">{{odeljenje.id}}</span>{{odeljenje.oznaka}}
</li>
</ul>
</div>

<div class="predmeti">
<div *ngIf="selectedOdeljenje">
<h3>Predmeti</h3>
<ul class="predmeti">
  <li *ngFor="let predmet of predmeti">
    <span class="badge">{{predmet.id}}</span>{{predmet.naziv}}
</li>
</ul>


<button (click)="goBack()">Nazad</button>
</div>
</div>

<div>

        <h3>Dodeli nastavniku predmet i odeljenje</h3>
        <label>Odeljenje:
             <input #oznaka>
        </label><br>
        <label>Naziv predmeta:
             <input #nazivPredmeta>
        </label><br>


        <button (click)="addNastavnikPredaje(oznaka.value, nazivPredmeta.value);
        oznaka.value='';  nazivPredmeta.value=''">
      Dodeli predmet i odeljenje</button>
  <button (click)="goBack()">Nazad</button>
      </div>
